[submodule "image-segmentation/owlite_DeepLabV3/DeepLabV3Plus-Pytorch"]
	path = image-segmentation/owlite_DeepLabV3/DeepLabV3Plus-Pytorch
	url = https://github.com/VainF/DeepLabV3Plus-Pytorch.git
[submodule "object-detection/owlite_YOLOv5/YOLOv5"]
	path = object-detection/owlite_YOLOv5/YOLOv5
	url = https://github.com/ultralytics/yolov5
[submodule "object-detection/owlite_YOLOv6/YOLOv6"]
	path = object-detection/owlite_YOLOv6/YOLOv6
	url = https://github.com/meituan/YOLOv6.git
[submodule "text-classification/transformers"]
	path = text-classification/transformers
	url = https://github.com/huggingface/transformers.git
	branch = v4.34-release
[submodule "object-detection/owlite_YOLOv8/YOLOv8"]
	path = object-detection/owlite_YOLOv8/YOLOv8
	url = https://github.com/ultralytics/ultralytics.git
[submodule "object-detection/owlite_YOLOX/YOLOX"]
	path = object-detection/owlite_YOLOX/YOLOX
	url = https://github.com/Megvii-BaseDetection/YOLOX.git
[submodule "object-detection/owlite_YOLOv7/yolov7"]
	path = object-detection/owlite_YOLOv7/yolov7
	url = https://github.com/WongKinYiu/yolov7
[submodule "re-identification/Person_reID_baseline_pytorch"]
	path = re-identification/Person_reID_baseline_pytorch
	url = https://github.com/layumi/Person_reID_baseline_pytorch.git
[submodule "face-landmark/PIPNet"]
	path = face-landmark/PIPNet
	url = https://github.com/jhb86253817/PIPNet.git
[submodule "image-segmentation/owlite_segment_anything/segment-anything"]
	path = image-segmentation/owlite_segment_anything/segment-anything
	url = https://github.com/facebookresearch/segment-anything
[submodule "text-recognition/ViTSTR"]
	path = text-recognition/ViTSTR
	url = https://github.com/roatienza/deep-text-recognition-benchmark.git
