--extra-index-url https://pypi.ngc.nvidia.com
accelerate==0.22.0
datasets==2.14.7
colored
easydict
evaluate
huggingface-hub==0.17.3
opencv-python
pandas==2.1.2
onnx==1.14.0
onnx-graphsurgeon==0.3.27
onnx-simplifier==0.4.10
sentencepiece
scipy
scikit-learn
torch==2.0.1
torchvision==0.15.2